.form {
    padding: 20px;
    width:  250px;
}

.floaty {
    float: right;
   
}

.floaty2 {
    float: left;
}

.buttonSubmit {
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background: #43a3e6;
    border: 1px solid #43a3e6;
    padding: 5px;
    width: 200px;
    margin: 10px; 
}

h2 {
    color: #43a3e6
}
