<div class="form ">
    <h1>{{item.title}}</h1>
    <br>
    <p>{{item.quantity}}</p>
    <hr>
    <p>{{item.price}}</p>
    <hr> 
    <p>{{item.totalPrice}}</p>
    <hr>
    <!-- <p>{{item.type}}</p>
    <hr> -->
    <p>{{item.description}}</p>
    <hr>
    <!-- <p>{{item.color}}</p>
    <hr>
    <p>{{item.dateOfPurchase}}</p>
    <hr>
    <p>{{item.placeOfPurchase}}</p>
    <hr>
    <p>{{item.material}}</p>
    <hr>
    <p>{{item.weight}}</p>
    <hr>
    <p>{{item.size}}</p>
    <hr> -->
    </div>


  
   
