<h2>Your inventory</h2>
<form  class="form"  (submit)="addNew()">
  <h3>Add Item</h3>

  <label class="floaty2">Name</label>
  <input class="floaty" #title [(ngModel)]="item.title" name="title" type="text">
  <br><br><br>
  <label class="floaty2">Price</label>
  <input class="floaty" #price [(ngModel)]="item.price" name="price" type="number">
  <br><br><br>
  <label class="floaty2">Quantity</label>
  <input class="floaty" #quantity [(ngModel)]="item.quantity" name="quantity" type="number">
  <br><br><br>
  <label class="floaty2">Short Description</label>
  <textarea class="floaty" #shortdescription [(ngModel)]="item.shortdescription" name="shortdescription" cols="10" rows="10"></textarea>
  <br><br><br><br><br><br><br><br><br>
  <label class="floaty2">Description</label>
  <textarea class="floaty" #description [(ngModel)]="item.description" name="description" cols="30" rows="10"></textarea>

<button class="buttonSubmit">Submit</button>

</form>



<div class="form" *ngFor="let item of items">

  <h3>item: {{item.title}}</h3>
  <p>Quantity: {{item.quantity}}</p>
  <p>{{item.shortdescription}}</p>
  <a class="buttonSubmit" [routerLink]="[item._id]">See Details</a><br>
  <button class="buttonSubmit" (click)='deleteOne(item._id)'>Delete</button><br>
  <a class="buttonSubmit" [routerLink]="[item._id, 'update']">Update</a>

  </div>
 
  <hr> 

