

<div class="form ">


  <div *ngIf="theActualUser.password">
       User:  {{theActualUser.username | json}}
       <button class="buttonSubmit" (click)="logMeOut()">Log Out</button>   
  
       <!-- <router-outlet></router-outlet> -->


  </div>
  
 
  
  <div *ngIf="!theActualUser.username">
  
  <h2>Signup </h2>
  
    <form class="form" (submit)="tryToSignUp()">
      <label class="floaty2" for="username">Username</label> 
      <input class="floaty" for="username" [(ngModel)]="signUpUser.username" name="username" type="text">
      <br><br>
      <label class="floaty2" for="password">Password</label> 
      <input class="floaty" for="password" [(ngModel)]="signUpUser.password" name="password" type="password" >
      <br><br>
      <label class="floaty2" for="name">Name</label> 
      <input class="floaty" for="name" [(ngModel)]="signUpUser.name" name="name" type="text">
      <br><br>
      <label class="floaty2" for="lastname">Last Name</label> 
      <input class="floaty" for="lastname" [(ngModel)]="signUpUser.lastname" name="lastname" type="text">
      <br><br>
      <label class="floaty2" for="email">Email</label> 
      <input class="floaty" for="email" [(ngModel)]="signUpUser.email" name="email" type="text">
      <br><br>
      <label class="floaty2" for="image">Image</label>
      <input [(ngModel)]="signUpUser.image"  class="newfile" type="file" name="theImage" id="image">
      <br><br>
     
      <button class="buttonSubmit">Complete Registration</button>
    
    </form>
  
  <hr>
  
  <h2>Log In</h2>
    <form class="form" (submit)="tryToLogIn()">
      <label class="floaty2" for="username">Username</label>
      <input class="floaty" for="username" [(ngModel)]="loginUser.username" name="name" type="text">
      <br><br>
      <label class="floaty2" for="password">Password</label>
      <input class="floaty" for="password" [(ngModel)]="loginUser.password" name="password" type="text">
      <br>
      <button class="buttonSubmit">Log In</button>
    </form>
  </div>

<div *ngIf="theError">error: {{theError}} </div>
  
</div>
    
<button class="buttonSubmit"><a [routerLink]="['/user']">Update User</a></button>


